<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBw8kPf9fsG7sz69Cfd_caPJkZ1kjbGn1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>716441948392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thrivers</string>
	<key>PROJECT_ID</key>
	<string>thrivers-8aa27</string>
	<key>STORAGE_BUCKET</key>
	<string>thrivers-8aa27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716441948392:ios:f66b1ce0025808d2c5f95d</string>
	<key>DATABASE_URL</key>
	<string>https://thrivers-8aa27-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>